.git
.gitignore
*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.so
*.egg
*.egg-info
dist/
build/
*.log
.DS_Store
.vscode
.idea
data/
evaluation_results/
logs/
examples/
README.files/
*.md
!requirements*.txt
